<!doctype html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Etym.org: {{ word.word | capitalize }} | Kelime Ansiklopedisi{% endblock %}</title>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>Etym.org <sub><em>Kelime Ansiklopedisi</em></sub></h1>
    </header>
    <div id="main" role="main">
      {% block form %}
      <fieldset>
        <form action="/" method="get">
          <input type="text" name="w" value="{{ word.word }}" placeholder="Aranacak kelime, sözcük veya söz öbeği">
          <button type="submit">Ara</button>
        </form>
      </fieldset>
      {% endblock %}
      {% block content %}
      <article>
        <h2>{{ word.word | capitalize }}</h2>
        <h3>{{ word.type }}, {{ word.origin }}: <span lang="{{ word.origin_code }}">{{ word.original_word }}</span></h3>
        <p>{{ word.description | safe }}</p>
        <nav>
          <ul>
            <li><a href="/edit?word={{ word.word | lower | urlencode }}">Düzenle</a></li>
            <li><a href="/extend?word={{ word.word | lower | urlencode }}">Genişlet</a></li>
            <li><a href="/typo?word={{ word.word | lower | urlencode }}">İmla Hatası</a></li>
          </ul>
        </nav>
      </article>
      {% endblock %}
      {% block details %}
      <hr>
      <section>
        <h3>Türediği Kelimeler</h3>
        <ul>
          <li><a href="/test1">test1</a></li>
          <li><a href="/test2">test2</a></li>
        </ul>
      </section>
      <section class="padding">
        <h3>Türettiği Kelimeler</h3>
        <ul>
          <li><a href="/test1">test1</a></li>
          <li><a href="/test2">test2</a></li>
        </ul>
      </section>
      {% endblock %}
      <a href="/random" class="random">
        <span>
          <i class="loading"></i>
        </span>
        Rastgele Kelime Bul
      </a>
    </div>
    <div class="clear"></div>
    <footer>
      <p class="disclaimer">
        etym.org’da yer alan verilerin kesinliği doğru değildir.<br>
        Bilimsel kaynak olarak gösterilemez.<br>
        &copy; 2014 - <a href="/humans.txt">Hakkında ve İletişim</a>
      </p>
    </footer>
  </div>
</body>
</html>
