<!doctype html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Etym.org: {{ word.word | capitalize }} | Kelime Ansiklopedisi{% endblock %}</title>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>Etym.org <sub><em>Kelime Ansiklopedisi</em></sub></h1>
    </header>
    <div id="main" role="main">
      {% block form %}
      <fieldset>
        <form action="/" method="get">
          <input type="text" name="w" value="{{ word.word }}" placeholder="Aranacak kelime, sözcük veya söz öbeği">
          <button type="submit">Ara</button>
        </form>
      </fieldset>
      {% endblock %}
      {% block content %}
      <article>
        <h2>{{ word.word | capitalize }}</h2>
        <h3>{{ word.type }}, {{ word.origin }}: <span lang="{{ word.origin_code }}">{{ word.original_word }}</span></h3>
        <p>{{ word.description | safe }}</p>
        <nav>
          <ul>
            <li><a href="/edit?word={{ word.slug | lower | urlencode }}">Düzenle</a></li>
            <li><a href="/extend?word={{ word.slug | lower | urlencode }}">Genişlet</a></li>
            <li><a href="/typo?word={{ word.slug | lower | urlencode }}">İmla Hatası</a></li>
          </ul>
        </nav>
      </article>
      {% endblock %}
      {% block details %}
      {% if diveration.from or diveration.to %}
      <hr>
      {% if diveration.from %}
      <section>
        <h3>Türediği Kelimeler</h3>
        <ul>
          {% for divered in diveration.from %}
          <li><a href="/{{ divered.slug }}">{{ divered.word }}</a></li>
          {% endfor %}
        </ul>
      </section>
      {% endif %}
      {% if diveration.to %}
      <section {% if diveration.from %}class="padding"{% endif %}>
        <h3>Türettiği Kelimeler</h3>
        <ul>
          {% for divered in diveration.to %}
          <li><a href="/{{ divered.slug }}">{{ divered.word }}</a></li>
          {% endfor %}
        </ul>
      </section>
      {% endif %}
      {% endif %}
      {% endblock %}
      <a href="/random" class="random">
        <span>
          <i class="loading"></i>
        </span>
        Rastgele Kelime Bul
      </a>
    </div>
    <div class="clear"></div>
    <footer>
      <p class="disclaimer">
        etym.org’da yer alan verilerin kesinliği doğru değildir.<br>
        Bilimsel kaynak olarak gösterilemez.<br>
        &copy; 2014 - <a href="/humans.txt">Hakkında ve İletişim</a> - <a href="/api">API</a>
      </p>
    </footer>
  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48715484-1', 'etym.org');
    ga('send', 'pageview');
  </script>
</body>
</html>
