<!doctype html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <title>Etym: {{ word | capitalize }} | Kelime Ansiklopedisi</title>
  <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>Etym.org <sub><em>Kelime Ansiklopedisi</em></sub></h1>
    </header>
    <div id="main" role="main">
      <fieldset>
        <form action="/" method="get">
          <input type="text" name="w" value="{{ word }}" placeholder="Aranacak Kelime">
          <button type="submit">Ara</button>
          <button type="button">Rastgele Kelime Bul</button>
        </form>
      </fieldset>
      <article>
        <h2>{{ word | capitalize }}</h2>
        <h3>Fiil, Arapça <span lang="ar">123</span></h3>
        <p>
          Ipsum nesciunt <abbr>tenetur</abbr> blanditiis magni nam accusamus
          consectetur illo repudiandae <b>dolores</b>. Minima sed doloribus
          saepe nemo nostrum explicabo! Elit fugit eaque sunt quasi quos amet,
          est ab corporis adipisci ipsa?
        </p>
        <nav>
          <ul>
            <li><a href="/edit?word={{ word | lower | urlencode }}">Düzenle</a></li>
            <li><a href="/extend?word={{ word | lower | urlencode }}">Genişlet</a></li>
            <li><a href="/typo?word={{ word | lower | urlencode }}">İmla Hatası</a></li>
          </ul>
        </nav>
      </article>
      <hr>
      <section>
        <h3>Türediği Kelimeler</h3>
        <ul>
          <li><a href="/test1">test1</a></li>
          <li><a href="/test2">test2</a></li>
        </ul>
      </section>
      <section>
        <h3>Türettiği Kelimeler</h3>
        <ul>
          <li><a href="/test1">test1</a></li>
          <li><a href="/test2">test2</a></li>
        </ul>
      </section>
    </div>
    <footer>
      <p class="disclaimer">
        Consectetur corrupti nisi distinctio excepturi ratione molestias 
        accusantium. Saepe laudantium sit quidem inventore nesciunt 
        distinctio. Ut commodi autem perspiciatis molestias dicta facilis. 
        Illo veniam quis ipsam animi quas obcaecati maiores!
      </p>
    </footer>
  </div>
</body>
</html>
